/* Container styling */
.upcoming-meetings-container {
    padding: 20px;
    background-color: #f9f9f9;
    
    background-size: cover; /* Makes the image cover the whole background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 100vh; /* Ensures the background covers the full height of the viewport */
  }
  
  /* Navigation styling */
  .meet-nav {
    background-color: #0E4239;
    color: white;
    padding: 10px;
  }
  
  /* Main heading styling */
  .main-heading {
    font-size: 36px;
    color:  rgb(11, 77, 27);
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Meetings list styling */
  .meetings-list {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 15px; /* Space between items */
    align-items: center; /* Center items horizontally */
  }
  
  /* Meeting item styling */
  .meeting-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Width of each item */
    width: 100%; /* Full width of the container */
    text-align: center; /* Center text inside each item */
  }
  
  /* Meeting name styling */
  .meeting-name {
    font-size: 24px;
    color:  rgb(11, 77, 27);
    margin-bottom: 10px;
  }
  
  /* View details button styling */
  .view-details-button {
    background-color:  rgb(11, 77, 27);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-details-button:hover {
    background-color: rgb(11, 77, 27);
  }
  