.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e1e5f2ff;
    /* background-color: #d9d9d9; */
  }
  img{
    width: 90px;
    height: 90px;
  }
  .logo h2 {
    margin: 0;
    font-size: 21px;
    font-weight: 800;
  }


  .logo {
      
    margin-left: 20px;
  } 
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
  }
  
  .profileName{
    font-size: 17px;
    font-weight: 800;
  }
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }