.send-wish-and-gift {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.email-input {
  margin: 20px 0;
}

.email-input input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1rem;
}

.wish-input {
  margin: 20px 0;
}

.wish-input textarea {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  height: 100px;
  font-size: 1rem;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.update-button,
.select-gift-button,
.send-gift-button,
.close-modal-button {
  background-color: #004d40;
  color: white;
  padding: 8px 12px; /* Adjusted padding for smaller button size */
  border: none;
  font-size: 1rem; /* Consistent font size */
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.close-modal-button {
  width: 72px; /* Fixed width */
  height: 42px; /* Fixed height */
  padding: 0; /* No padding to maintain size */
  background-color: #00c853; /* Set to desired color */
  color: white; /* Keep text color white for contrast */
}

.close-button-container {
  display: flex;
  justify-content: center; /* Center the close button */
  margin-top: 10px; /* Space above the button */
}

.update-button:hover,
.select-gift-button:hover,
.send-gift-button:hover,
.close-modal-button:hover {
  background-color: #00332b;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}