html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  
  .edit-meeting-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(11, 77, 27);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  .edit-meeting-title {
    font-size: 30px;
    font-weight: bold;
    color:  rgb(11, 77, 27);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edit-meeting-form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  .form-input,
  .form-textarea,
  .form-date,
  .form-time {
    width: 100%; /* Full width to ensure consistency */
    padding: 10px;
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  .form-input:focus,
  .form-textarea:focus,
  .form-date:focus,
  .form-time:focus {
    outline: none;
    border-color:  rgb(11, 77, 27);
  }
  
  .form-input.date-input,
  .form-input.time-input {
    width: 100%; /* Ensure these fields are the same width */
    display: block; /* Ensure they are displayed as block elements */
  }
  
  .form-input.input-error {
    border-color: red;
  }
  
  .form-textarea {
    height: 100px;
    resize: vertical;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 0; /* Space between error message and input field */
    margin-bottom: 10px; /* Space between error message and next element */
  }
  
  .submit-button {
    background-color:  rgb(11, 77, 27);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Space above submit button */
    width: 100%; /* Full-width button */
  }
  
  .submit-button:hover {
    background-color:  rgb(11, 77, 27);
  }
  