.main {
    padding: 20px;
    background-color: #f5f5f5;
    
  }

  .main img{
    max-width: 400px;
  }
  
  .main h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }
  
  .button-group button {
    min-width: 200px !important;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .button-group button:hover {
    background-color: #45a049;
  }
  
  .event-section {
    display: grid;
    text-align: start;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  .event-card {
    margin-left: 120px;
    margin-right: 120px;
    background-color: #39B54A1F;
    border-radius: 10px;
    padding: 20px;
    text-align: start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-card img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .event-card h2 {
    text-align: start;
    margin-bottom: 10px;
  }
  
  .event-card p {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 20px;
  }
  
  .event-card button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-card button:hover {
    background-color: #45a049;
  }
  