.other-special-day-reminder {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #2c2c2e;
    border-radius: 12px;
    max-width: 500px;
    margin: 0 auto;
    color: #f9f9f9;
}

.other-special-day-reminder h1 {
    font-size: 2em;
    color: #f9f9f9;
    margin-bottom: 15px;
}

.reminder-details {
    background-color: #3a3a3c;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.reminder {
    background-color: #4a4a4c;
    border: 1px solid #606060;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #f9f9f9;
}

.countdown {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #00c853;
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-group button {
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 72px;
    height: 42px;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #009e40; /* Darker shade on hover */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-inner form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup-inner input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.popup-inner button {
    padding: 8px 16px;
    background-color: #00c853;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-inner button:hover {
    background-color: #009e40; /* Darker shade on hover */
}

.close-btn {
    margin-top: 10px;
    background-color: #d32f2f;
    padding: 8px 16px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #b71c1c; /* Darker shade on hover */
}

.highlight {
    background-color: #00c853 !important;
    color: white; /* Ensures text remains readable */
}
